<div>
  <!-- Header -->
  <header class="w3-container w3-center">

    <h1 class="w3-jumbo"><b>CRUD VEICULOS</b></h1>
    
    <img class="img-responsive" src="/assets/uml-veiculos.jpg" alt="img-uml">
    
    
    
  </header>

  </div>