<div class="container" style="margin-top: 70px;">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>#</th>
          <th>Ano</th>
          <th>Cor</th>
          <th>Marca</th>
          <th>Tipo</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let v of veiculos">
  
          <td>{{ v.id }}</td>
          <td> {{ v.ano }}</td>
          <td> {{ v.cor }}</td>
          <td> {{ v.marca }}</td>
          <td> {{ v.tipo }}</td>
          <td><button class="btn btn-primary" (click)="selectVeiculo(v)"> Mostrar detalhes</button></td>
          <td><button class="btn btn-danger" (click)="excluir(v.id)"> Excluir</button></td>
        </tr>
      </tbody>
    </table>

    <div class="card text-center" *ngIf="veiculoSelecionado">
        <div class="card-header">
          # {{veiculoSelecionado.id}}
        </div>
        <div class="card-block">
          <h4 class="card-title">{{veiculoSelecionado.tipo}}</h4>
          <h4 class="card-title">{{veiculoSelecionado.marca}}</h4>
          <h4 class="card-title">{{veiculoSelecionado.cor}}</h4>
          <p class="card-text">
            {{veiculoSelecionado.ano}}
          </p>    
        </div>
  
      </div>
  </div>
