<div class="container" style="margin-top: 70px;">

  <div class="row">

    <div class="col-sm-8 offset-sm-2">

      <div>
        <form>
          <div class="form-group">

            <label for="ano">Ano do Veiculo</label>
            <input [(ngModel)]="veiculo.ano" type="text" name="ano" class="form-control" id="ano"
              aria-describedby="nameHelp" placeholder="Digite o ano">
            <small id="nameHelp" class="form-text text-muted">Digite o ano do veiculo</small>
            
            <label for="cor">Cor do Veiculo</label>
            <input [(ngModel)]="veiculo.cor" type="text" name="cor" class="form-control" id="cor"
              aria-describedby="nameHelp" placeholder="Digite a cor">
            <small id="nameHelp" class="form-text text-muted">Digite a cor do veiculo</small>
            
            <label for="marca">Marca do Veiculo</label>
            <input [(ngModel)]="veiculo.marca" type="text" name="marca" class="form-control" id="marca"
              aria-describedby="nameHelp" placeholder="Digite o marca">
            <small id="nameHelp" class="form-text text-muted">Digite a marca: (fiat, volksvagem, chevrolet, toyota...)</small>
            
            <label for="tipo">Tipo do Veiculo</label>
            <input [(ngModel)]="veiculo.tipo" type="text" name="tipo" class="form-control" id="tipo"
              aria-describedby="nameHelp" placeholder="Tipo do veiculo">
            <small id="nameHelp" class="form-text text-muted">Digite o tipo Tipo: (motocicleta, triciclo, caminhoneta...)</small>

          </div>
        </form>
        <button class="btn btn-primary" (click)="salvar()">Criar Veiculos</button>
      </div>
    </div>
  </div>
</div>